
<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>

    <div class="container">
      <h1>Hey youths!!?</h1>
      <h2>Get out of the basement, and join the cause of TRAVEL!</h2>
      <%= content_tag :div, class: "locations_class", data: {locations: @locations} do %>
      <% end %>

      <div id="map"></div>
    </div>
    
    <script>

      function initMap() {
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById('map'), {

        });
        var location_data = $('.locations_class').data('locations');
        // var image = "https://dl.dropboxusercontent.com/s/i323dasyjauidwa/train_marker.png?dl=0";
        var image = "https://dl.dropboxusercontent.com/s/2pjw2ku51x8mpoz/train_marker2.png?dl=0";
        <% @locations.each do |location| %>
          <% coord = "{lat: #{location.lat}, lng: #{location.long}}" %>
          <% p coord %>
          var marker = new google.maps.Marker({
            position: <%= coord %>,
            map: map,
            title: "<%= "#{location.city}" %>",
            icon: image
          });
          bounds.extend(marker.position);
          <% city = "#{location.city}" %>
          <% p city %>
          google.maps.event.addListener(marker, 'click', (function(marker) {
            return function() {
              <% city = "#{location.city}" %>
              <% p city %>
              var info = "<%= "#{location.city}" %>";
              console.log(info);
              infowindow.setContent(info);
              infowindow.open(map, marker);
              // window.location.href = "/locations/#{location.id}";
              window.location.href = "<%= "/locations/#{location.id}" %>";
            }
          })(marker));

        <% end %>
        map.fitBounds(bounds);
      }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWWhvWicgH8LasYYaQ7HCtztjx2g2CjB0&callback=initMap">
    </script>

  </body>
</html>
