<h1>Edit your profile</h1>

<%= form_for :user, url: "/users", method: "post" do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :current_location %>
  <%= f.text_field :email %>
  <%= f.submit "Edit User" %>
<% end %>
