
<div class="container">
  <h1>Update Your Profile</h1>
  <%= form_for @user, :html => {:class => 'form_for'} do |f| %>
  Name: <%= f.text_field :name %> <br>
  Current Location:  <%= f.text_field :current_location %> <br>
  Email:  <%= f.text_field :email %> <br>
  Profile Pic: <% if @user.photo_file_name != nil %><br>
  <%= image_tag(@user.photo.url(:profile), class: 'media-object') %>
  <% end %>
  <%= f.file_field :photo %> <br>
    <%= f.submit "Update!", class: 'default_button' %>
  <% end %>
</div>
