
<div class="container">
  <%= render 'shared/flash' %>
  <div class="form">
    <h1 class="form_header_text">Sign Up</h1>
    <%= form_for :user, url: "/users", method: "post", :html => {:class => 'form_for'} do |f| %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.text_field :current_location, placeholder: "Current Location" %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit "Save Your Profile", class: 'buttonz' %>
    <% end %>
  </div>
</div>
