<div>
  <h1>Welcome, <%= @user.name %>!</h1>
</div>

<%= @user.current_location %>
<%= @user.email %>

<%= button_to "Delete", @user, method: :delete %>
<%= button_to "Edit", edit_user_path, method: :get %>
