
<div class="container">
  <h1>Welcome, <%= @user.name %>!</h1>
  Current Location: <%= @user.current_location %><br>
  Email: <%= @user.email %><br>
  <% if @user.photo_file_name != nil %><br>
  <%= image_tag(@user.photo.url(:profile), class: 'media-object') %><br>
  <% end %>

  <%= button_to "Update Your Profile", edit_user_path, method: :get, class: 'buttonz' %>

  <div class="user_popo">
  <h3>All of Your Posts</h4>

  <% @posts.each do |post| %>
    <%= link_to post.title, location_post_path(post.location_id, post.id) %>
  <% end %>
  </div>
</div>
