<div class="container">
  <h1><%=  @location.city %> is full of Vagrants</h1>
  <% @posts.each do |p| %>
    <div class="post_post">
      ID: <%= p.id %><br/>
      User: <%= p.user_id %><br/>
      Title <%= p.title %><br/>
      Body: <%= p.body %><br/>
      <br/>
    </div>
  <% end %>
</div>
