<h1>Look at this Vagrant Post for <%= @location_id %>!</h1>
<div class="single_popo">
  <p>Posted By: <%= @post.name %> </p>
  <p>Date Posted: <%= @post.created_at.strftime("%m/%d/%Y") %> </p>
  <%= @post.title %> <br>
  <%= @post.body %> <br>
<%= button_to "Delete this Post", location_post_path(@post.location_id), method: :delete, data: {confirm: 'Are you sure?' } %>
<%= button_to "Edit this Post", edit_location_post_path(@post.location_id), method: :get %>
</div>
