<h1>Edit <%=  @location.city %>'s Information </h1>

<%= form_for @location do |f| %>
  City: <%= f.text_field :city %> <br>
  State: <%= f.text_field :state %> <br>
  Country: <%= f.text_field :country %> <br>
  Region: <%= f.text_field :region %> <br>
  Image: <%= f.file_field :photo %> <br>
  <%= f.submit "Save Changes" %>
<% end %>
