<h1>New Vagrancy</h1>

<%= form_for :location, url: "/locations", method: "post" do |f| %>
  <%= f.text_field :city %> <br>
  <%= f.text_field :state %> <br>
  <%= f.text_field :region %> <br>
  <%= f.text_field :photo %> <br>
  <%= f.text_field :lat %> <br>
  <%= f.text_field :long %> <br>
  <%= f.submit "Save Location" %>
<% end %>
