<div class="container">
  <h1>Post About a New Location</h1>
  <%= form_for :location, url: "/locations", method: "post", :html => {:class => 'form_for'} do |f| %>
  City:  <%= f.text_field :city %> <br>
  State:  <%= f.text_field :state %> <br>
  Country:  <%= f.text_field :country %> <br>
  Region:  <%= f.text_field :region %> <br>
  Photo:  <%= f.file_field :photo %> <br>
    <%= f.submit "Save Location", class: 'default_button' %>
  <% end %>
</div>
