<h1><%= @location.city %></h1>

City: <%= @location.city %> <br>
State: <%= @location.state %> <br>
Region: <%= @location.region %> <br>
Coordinates: <%= @location.lat %>/<%= @location.long %> <br>
<%= button_to "Delete this Location", @location, method: :delete %> <br>
<%= button_to "Edit this Location", edit_location_path, method: :get %> <br>

<% if @location.photo_file_name != nil %> <br>
Location Image: <%= image_tag(@location.photo.url(:original), class: 'media-object') %>
<% end %>
