
<div class="image_container">
  <h1 class="city_name"><%= @location.city %></h1>
  <% if @location.photo_file_name != nil %> <br>
  <%= image_tag(@location.photo.url(:original), class: 'media-object city_image') %>
  <% else %>
  <%= image_tag("generic_city_background.jpg", class: 'media-object city_image') %>
  <% end %>
</div>

<div class="container">
  <div class="location_intro_cont">
    <p class="location_intro">Explore <%= @location.city %> like a local, with these awesome stories and tips from the InterRail community! </p>
    <% if current_user %>
      <%= button_to "Add Post", new_location_post_path(@location.id), method: :get, class: 'default_button' %>
    <% else %>
      <p class="location_intro">To contribute your own post, be sure to log in or sign up first</p>
    <% end %>
  </div>
  <% @posts.each do |p| %>
  <div class="loc_comment">
    <h2><%= p.title %></h2>
    <h3>by <%= p.name %></h3>
    <p><%= p.body[0..500] + '...' %></p>
    <%= link_to "Read full post" , location_post_path(@location, p) %>
    <br/>
  </div>
  <% end %>
</div>
