<h1><%= @location.city %></h1>

City: <%= @location.city %> <br>
State: <%= @location.state %> <br>
Region: <%= @location.region %> <br>
Coordinates: <%= @location.lat %>/<%= @location.long %> <br>
<%= button_to "Update " + @location.city + "'s Information", edit_location_path, method: :get %> <br>
<%= button_to "View All Posts ", location_posts_path(:location_id), method: :get %> <br>
<% if @location.photo_file_name != nil %> <br>
Location Image: <%= image_tag(@location.photo.url(:original), class: 'media-object') %>
<% end %>
