<h1><%= @location.city %></h1>

<%= @location.city %> <br>
<%= @location.state %> <br>
<%= @location.region %> <br>
<%= @location.lat %>/<%= @location.long %> <br>
<%= button_to "Edit", edit_location_path, method: :get %> <br>
<%= button_to "View All Posts", location_posts_path(:location_id), method: :get %> <br>
<% if @location.photo_file_name != nil %> <br>
<%= image_tag(@location.photo.url(:original), class: 'media-object') %>
<% end %>
